---
layout: default
---

<p class="subtitle" style = "font-size: 140%">
{% for category in page.categories %}
<a  href = "/archive#{{category| slugify }}" style = "font-family:Spartan; font-variant: small-caps; font-weight: 700; letter-spacing: 0.05rem;" > {{category}} </a>	|  
{% endfor %}
{{   page.date | date: "%B %-d, %Y" }}

</p>

<h1>{{ page.title}}</h1>



{{ content }}



<p style = "margin-top: 4em"> <script type='text/javascript' src='{{site.url}}/assets/scripts/kofi_button.js'></script><script type='text/javascript'>kofi_button.init('Buy me a&nbsp;', '#2b3088', 'R6R61HF4F');kofi_button.draw();</script>  <script type='text/javascript' src='{{site.url}}/assets/scripts/twitter_button.js'></script><script type='text/javascript'>twitter_button.init('Comment&nbsp;&nbsp;', '#2b3088', '{{page.tweetURL}}');twitter_button.draw();</script>  </p>



